<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Invoicing::{% endblock %}</title>
    {% stylesheets '@bootstrap_css' '@AppBundle/Resources/public/less/*' 'bundles/bmatznerfontawesome/css/font-awesome.min.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>
<body>
{% block content %}
{% endblock %}

{% javascripts '@jquery' '@bootstrap_js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block bottomjs %}{% endblock %}
</body>
</html>