<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}TEST::{% endblock %}</title>
    {% stylesheets '@bootstrap_css' 'bundles/bmatznerfontawesome/css/font-awesome.min.css' '@AppBundle/Resources/public/less/*' %}
    <link rel="stylesheet" type="text/css" media="screen, print" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% javascripts %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
<div id="colordiv">
    <header class="navbar-inverse bs-docs-nav hidden-print" role="banner">
        <div class="container ">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand scroll-link" data-id="carousel1">TEST APP</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse pull-right" role="navigation">
                {{ knp_menu_render('AppBundle:Builder:mainMenu', {'currentClass': 'active', 'template': 'AppBundle::bootstrap_menu.html.twig'}) }}
                {{ knp_menu_render('AppBundle:Builder:userMenu', {'currentClass': 'active', 'template': 'AppBundle::bootstrap_menu.html.twig'}) }}
            </nav>
        </div>
    </header>
</div>
{% block content %}
    << Content Marker >>
{% endblock %}
{% javascripts '@jquery' '@bootstrap_js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block bottomjs %}{% endblock %}
</body>
</html>