{% extends 'AppBundle::base.html.twig' %}
{% block title %}Home{% endblock %}
{% block content %}
    <!--Carousel-->
    <div id="carousel1" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel1" data-slide-to="1"></li>
            <li data-target="#carousel1" data-slide-to="2"></li>
            <li data-target="#carousel1" data-slide-to="3"></li>
            <li data-target="#carousel1" data-slide-to="4"></li>
            <li data-target="#carousel1" data-slide-to="5"></li>
            <li data-target="#carousel1" data-slide-to="6"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Welcome to our site!</h1>
                        <p>Take a look around and let us know if you have any questions.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Sign Up</h1>
                        <p>Use this section to sign up for our newsletter</p>
                        <p><a href="#" class="btn btn-lg btn-primary scroll-link" data-id="signup" role="button">Sign Up</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Mission</h1>
                        <p>View additional details abour our company</p>
                        <p><a href="#" class="btn btn-lg btn-primary scroll-link" data-id="whatwedo" role="button">Company</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Application</h1>
                        <p>See how the application process works</p>
                        <p><a href="#" class="btn btn-lg btn-primary scroll-link" data-id="application" role="button">Apply now!</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Pricing</h1>
                        <p>See additional information on our pricing model</p>
                        <p><a href="#" class="btn btn-lg btn-primary scroll-link" data-id="pricing" role="button">Prices</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Location</h1>
                        <p>See where our office is located</p>
                        <p><a href="#" class="btn btn-lg btn-primary scroll-link" data-id="location" role="button">Location</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Comments</h1>
                        <p>Leave a comment. We will get back to you shortly!</p>
                        <p><a href="#" class="btn btn-lg btn-primary scroll-link" data-id="comments" role="button">Comment</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel1" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#carousel1" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <!-- /.carousel -->
{% endblock %}