.navbar {
  margin-bottom: 0px;
}

.row{
  margin-let:20px;
  margin-right:20px;
}

.top-padding{
  margin-top:20px;
}

.login-panel-padding{
  margin-top: 50px;
}

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
  margin-top:0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #7f96ae;
}


/*
Invoice Template
*/
.height {
  min-height: 200px;
}

.icon {
  font-size: 47px;
  color: #5CB85C;
}

.iconbig {
  font-size: 77px;
  color: #5CB85C;
}

.table > tbody > tr > .emptyrow {
  border-top: none;
}

.table > thead > tr > .emptyrow {
  border-bottom: none;
}

.table > tbody > tr > .highrow {
  border-top: 3px solid;
}
