{% block title %}Registration{% endblock %}
{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block fos_user_content %}
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        {{ form_errors(form) }}
        <div class="container">
            <h1>Registration</h1><small>Fill in this form to register.</small>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 top-padding">
                    <div class="col-md-6">
                        <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                        <div class="form-group">
                            <label for="InputName">Username</label>
                            <div class="input-group">
                                {{ form_widget(form.username) }}
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Enter Email</label>
                            <div class="input-group">
                                {{ form_widget(form.email) }}
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Password</label>
                            <div class="input-group">
                                {{ form_widget(form.plainPassword.first) }}
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Repeat Password</label>
                            <div class="input-group">
                                {{ form_widget(form.plainPassword.second) }}
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        <input type="submit" name="submit" id="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-info pull-right">
                    </div>

                </div>
            </div>
        </div>
    </form>
{% endblock fos_user_content %}



