{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Login{% endblock %}

{% block fos_user_content %}
{% if error %}
    <div class="alert alert-warning" role="alert"><i class="fa fa-exclamation-triangle"></i>&nbsp;{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 login-panel-padding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><strong>Sign In </strong></h1>
                </div>
                <div class="panel-body">
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <div class="form-group">
                            <label for="email">{{ 'security.login.username'|trans }}</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"  placeholder="Enter email" required="required">
                        </div>
                        <div class="form-group">
                            <label for="pwd">{{ 'security.login.password'|trans }} <a href="{{ path('fos_user_resetting_request') }}">(forgot password)</a></label>
                            <input type="password" id="password" name="_password" required="required" class="form-control"  placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        </div>
                        <button type="submit" class="btn btn-sm btn-default">{{ 'security.login.submit'|trans }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}



