{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div class="container">
            <h1>Forgot Password</h1><small>Fill in this form to recover your password.</small>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 top-padding">
                    <div class="col-md-6">
                        <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                        <div class="form-group">
                            <label for="InputName">{{ 'resetting.request.username'|trans }}</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="username" name="username" required="required" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                            </div>
                        </div>
                        <input type="submit" name="submit" id="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-info pull-right">
                    </div>
                    <div class="col-md-6">

                        {% if invalid_username is defined %}
                            <div class="alert alert-danger">
                                <span class="glyphicon glyphicon-remove"></span><strong>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</strong>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock fos_user_content %}
