{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
        <div class="container">
            <h1>Forgot Password</h1><small>Fill in this form to set a new password.</small>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 top-padding">
                    <div class="col-md-6">
                        <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                        {{ form_errors(form) }}
                        <input type="submit" name="submit" id="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-info pull-right">
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock fos_user_content %}
